.row
  .col-xs-10.col-xs-offset-1
    .jumbotron
      %h1 What's The Gruff?
      %p Create an account or log-in to share your gruff!
.row
  .col-xs-8.col-xs-offset-2
    -@posts.each do |post|
      =render "posts/block", post: post
